.descriptionContainer {
  position: relative;
  box-sizing: border-box;
  display: flex;
  padding-left: 20px;
  padding-top: 14px;
  margin-bottom: 21px;

  width: 370px;
  height: 172px;
  border-radius: 20px;
  background: rgb(33, 39, 69);

  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;

  .crystalBallPosition {
    position: absolute;
    right: 0;
  }

  p {
    width: 220px;
    margin: 0;
  }
}
